<ion-view>

    <ion-pane>
      
      
     
      
      
      <ion-content>
      
      {{tabs.header}}
       <div  ng-controller= "soapGetCtrl">
        <button class="button button-positive" ng-click = "call()">Get Business partners </button> 
      <div  ng-if = "vic!=null">
            
        
        
        <ion-list>
  <ion-item ng-repeat="v in vic" ng-click = "showme()">
    
        {{ v.name }}  
        <p ng-hide="bool">{{ v.id }}</p>
           
      
       
  </ion-item>
</ion-list>
      
      
      </div>
      </div> 
        
        
        
        
      </ion-content>
    </ion-pane>
 

  
  
  


 </ion-view>