   <ion-view>

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">SOAP TEST: {{tabs.header}}</h1>
        <button class="button button-icon icon ion-android-more-vertical"  ng-click = "toggleright()"></button>
      </ion-header-bar>
   
     <ion-tabs class="tabs-icon-top tabs-energized">

        <ion-tab title="ListBusinessPartners" icon="ion-person" href="#/tab/home">
          <ion-nav-view name="GetBP-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="CreateBPartners" icon="ion-person-add" ui-sref="soap.create">
          <ion-nav-view name="CreateBP-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Get BPartner Locations" icon="ion-ios-world" ui-sref="soap.location">
          <ion-nav-view name="Locations-tab"></ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Update BPartner" icon="ion-ios-pulse-strong" ui-sref="soap.update">
          <ion-nav-view name="Update-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="CreateUpdate BPartner" icon="ion-paper-airplane" ui-sref="soap.createupdate">
          <ion-nav-view name="createupdate-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Delete BPartner" icon="ion-trash-a" ui-sref="soap.delete"">
          <ion-nav-view name="Delete-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>

 </ion-pane>
 </ion-view>
  
  
 