/* Styles go here */


table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

.container{
    width:300px;
    height:500px;
    position:relative;
}
.container > div{
    width:50%;
    height:50%;    
    position:absolute;
    transition:0.3s;
    z-index:0;
}
.container > div.active{
    width:90%;
    height:90%;
    z-index:10;
}
#one{top:0;left:0;background:blue;padding:5px;color:white;}
#two{top:0;right:0;background:green;padding:5px;color:white;}
#three{bottom:0;left:0;background:orange;padding:5px;color:white;}
#four{bottom:0;right:0;background:red;padding:5px;color:white;}

.task{
  border:1px solid grey;
  width:80%;
  padding:2px;
  margin:2px;
  background-color:lightgrey;
  color:white;
  z-index:4;
  float:left;
  
 
}
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}


.cc
{
  height:400px;
  width:100%;
  border:1px solid red;
}

/* Empty. Add your own CSS if you like */
.slider {
  height: 100%;
  text-align: center;
}

.scroll {
  height: 100%;
}

.color-todo
{
background: url(../img/WoodBackground.jpg);
width:100%;
height: 100%; 
}

.color-in-progress{  
  background: url(../img/WoodBackground.jpg);
  width:100%;
  height: 100%;
}
.color-complete{
  background: url(../img/WoodBackground.jpg);
  width:100%;
  height: 100%;
}

#iPhoneDisplayContainer{
  position:absolute;
  background-color:blue;
  width:640px;
  height:960px;
}

.slider{height:100%;}

.iPhoneJnList{
  background-color:red;
  display:block;
  float:left;
  margin-top:10px !important;
  margin-left: 10%;
  width: 80%;
  max-height: 80%;
}



/********* IPAD STYLES *****/
#iPadDisplayContainer{
  position:absolute;
  background-color:blue;
  width:768px;
  height:1024px;
}

.dropZone {
  position: absolute;
  visibility:hidden;
}

.dropZone.drag-in-progress{
  visibility:visible;
  position: absolute;
  /*background-color:#A0A0A0 ;*/
  opacity: 0.7;
  height: 100%;
  width:100%;
  top:130px;
  /*left:20%;*/
  z-index:10;
}

.dragListChangeTriggerLeft
{ display:none; }
.dragListChangeTriggerLeft.drag-in-progress{
  display:inline; 
  position:absolute;
  /*background-color:blue;*/
  opacity: 0.2;
  height: 100%;
  width:20%;
  top:0;
  z-index:20;
}

.dragListChangeTriggerRight{
  display:none;
  
}

.dragListChangeTriggerRight.drag-in-progress{
  display:inline;
  position:absolute;
  /*background-color:#f1f1f1;*/
  /*opacity: 0.2;*/
  height: 100%;
  width:20%;
  top:0;
  right:0;
  z-index:20;
}

.overflowArea{
  /*background-color: purple;*/
  overflow-x:scroll;
  width: -webkit-max-content;
  height: 1024px;
  dislpay:block;
}

.jnListArea{
  /*background-color:green;*/
  width: 300px;
  height:1000px;
  margin:10px;
  margin-bottom:20px;
  display: block;
  float: left;
}

.jnList{
  /*background-color:red;*/
  display:block;
  float:left;
  margin-top:10px !important;
  margin: 10px;
  width: 280px;
  max-height: 80%;
  overflow:visible;
}

.jnCard{
  position:relative;
  z-index:2;
}

.jnCard {
  
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
}


/** cleanly hide list item when dragging **/
[ng-drag].dragging{
  opacity:0.6;
  position:absolute !important;
}
/** THIS IS IMPORTANT, REMOVES THE CONSTRAINED SCROLLABLE ELEMENT FROM VIEW **/
div .jnCard.ng-binding.disable-user-behavior.dragging{
  opacity:0.0;
}


.drag-object{
        width: 250px;
        height: 100px;
        top:0; left:20px;
        padding: 0;
        margin: 0;
       
      background-color: snow;
    }


drag-object{
  position:relative;
  z-index:2;
}

.drag-object {
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
}
